@import './reset.scss';

@import './variables.scss';

* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: $font-family-regular;
    margin: 0;
    padding: 0;
    padding-top: 56px;
    width: 100%;
    min-width: $content-width;
    height: 100%;
    background-color: $white;
    color: $normal-color-m;
    font-size: 14px;
    line-height: 1.375;
}

// /*定义滚动条高宽及背景
//  高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background: transparent;
}
// /*定义滑块
//  内阴影+圆角*/
::-webkit-scrollbar-thumb {
    background: #dddfe0;
    border-radius: 3px;
    // background-color: #3E466E;
}
